<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-基础</title>
    <style>
        .actve{
            border: 1px solid red;
        }
        .Notepad{
            background-color: darksalmon;
            height: 30rem;
            width: 40%;
            margin: auto;
        }
        .jobbox{
            margin-bottom:5px;
            padding: 10px;
            border: 1px solid #ccc;
            background:#f5f5f5;
            position: relative;
        }
        .symbolclose{
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!--html结构-->
    <div id="datalearn">
        <!--大括号中的值叫插值表达式，作用就是把数据和页面结构关联起来-->
        {{ message }}
        <p>
            {{datalearndic.key1}} {{datalearndic.key2}}
        </p>
        <h2>
            {{datalearnlist[0]}}
        </h2>
    </div>

    <div class="learnVtext">
        <h2 v-text="datalearndic.key1 +'测试v-text'">两标签中的text不显示</h2>
        <h2 v-text="datalearndic.key1 +'测试v-text字符串拼接'+'等号后的内容才会显示'"></h2>
        <h2> {{datalearnlist[0]}} 两标签中的text也会显示</h2>
        <h2> {{datalearnlist[0]+'测试v-text字符串拼接'}}</h2>
    </div>

    <div id="learnVhtml">
        <p v-html="datadic.text"></p>
        <p>{{datadic.text}}</p>
        <p v-html="datadic.ishtml"></p>
        <p>{{datadic.ishtml}}</p>
    </div>

    <div id="mouseevent">
        <input type="button" value="v-on指令" v-on:click="event">
        <input type="button" value="v-on指令用@代替" @click="event">
        <button v-on:click="event">?</button>
        <div></br></div>
        <input type="button" value="v-on双击事件" @dbclick="event">
        <h2 @click="changeVdata">{{ vdata }}</h2>
        <h2 @click="foradd">{{ vdata }}</h2>
    </div>

    <div id="counter">
        <button @click="sub"> - </button>
        <span> {{ num }}</span>
        <button @click="add"> + </button>
        <div></br></div>
    </div>

    <div id="svg_picture">
        <input type="button" value="切换图片显示/隐藏状态" @click="changeSVGstatus">
        <img v-show="svg_status" src="../material/小表情-19.svg" alt="">
        <div></br></div>
        <input type="button" value="点击增加数字到3图片出现" @click="addnum">
        <span>{{ num }}</span>
        <img v-show="num==3" src="../material/小表情-19.svg" alt="">
    </div>

    <div id="ele_apper">
        <p v-if="true">测试元素的显示/隐藏状态_v-if直接定义</p>
        <p v-if="ele_status">测试元素的显示/隐藏状态_v-if间接定义</p>
    </div>

    <div id="img_bind">
        <img :src="img_src" alt="" :title="imgtitle+'!!!'" :class="{actve:isactive}" @click=imgclick> 
    </div>

    <div id="test_changepicture">
        <h2>点击下方箭头切换图片</br></h2>
        <input type="button" value="<" v-show="index!=0"@click="subindex">
        <img :src="imgarr[index]" alt="" >
        <input type="button" value=">" v-show="index<imgarr.length-1" @click="addindex">
    </div>

    <div id="vfor">
        <ul>
            <li v-for="(item,index) in arr">序号：{{index + 1}}...这个列表中有：{{ item }}</li>
        </ul>
        <p v-for="item in objarr" v-bind:title="item.name">{{item.name}}</p>
        <p v-for="item in objarr" v-bind:title="item.date">{{item.date}}</p>
        <p v-for="item in objarr" v-bind:title="item.weather">{{item.weather}}</p>
        <input type="button" value="点击添加新数据" @click="addobj">
        <input type="button" value="点击移除旧数据" @click="removeobj">
    </div>
    
    <div id="v_on_append">
        <!--这里用到了键盘的enter修饰符，表示只有当按下回车时才会触发sayhi这个逻辑，更多修饰符位置在https://cn.vuejs.org/v2/api/#v-on这个地址-->
        <input type="button" value="点击触发doit事件去F12console查看" @click="doit('老铁',666)">
        <input type="text" style="width: 50%;" placeholder="输入任何字符串皆可，回车触发弹窗" @keyup.enter="sayhi">
    </div>

    <div id="vmodel">
        <input type="button" value="修改为默认message" @click="setmessage">
        <input type="text" v-model="message" @keyup.enter="getmessage">
        <h2>广播我的输入内容为：{{message}}</h2>
    </div>

    <div id="testNotepad" class="Notepad">
        <!--功能：有输入框，有显示列表，有列表标号，有事件总数，可单条删除，可一键清空，事件总数&一键清空在清空过后不显示-->
        <h2 style="text-align: center;padding-top: 3rem;">test 记事本</h2>
        <input v-model="jobmassage" @keyup.enter="addjob" style="margin-left: 15%;width: 70%;margin-bottom: 1rem;"placeholder="请输入任务" >
        <div class="symbx">
            <span  style="margin-left: 15%;width: 70%;display: block;"v-for="(item,index) in jobarr">{{index+1}} . <label >{{item}} <span @click="removejob"> &times; </span> </label> </span>
        </div>
        <div v-if="jobarr.length>0" style="margin-left: 15%;display: flex;">
            <p>{{'当前job总数: '+jobarr.length}}</p>
            <input type="button" value="clear all" style="margin-left: inherit;" @click="clearall">
        </div>
        
        

    </div>
    
    <!-- 导入vue.js,开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    


    <!--创建vue实例-->
    <!--el是元素选择器，例如所选元素id叫app，那么el就是“#app”，还可以选class等 类型的元素，就用“.app”；data就是实例中用到的数据-->
    <script>
        var datalearn = new Vue({
            el:"#datalearn",
            data:{
                message:"Hello Vue!",
                datalearndic:{
                    key1:"value1",
                    key2:"value2"
                },
                datalearnlist:["str0","str1","str2"]
            }
        })

        var vtextlearn = new Vue({
            el:".learnVtext",
            data:{
                message:"Hello Vue!",
                datalearndic:{
                    key1:"value1",
                    key2:"value2"
                },
                datalearnlist:["str0","str1","str2"]
            }
        })
        var vhtmllearn = new Vue({
            el:"#learnVhtml",
            data:{
                datadic:{
                    text:"文本内容而非html内容",
                    ishtml:"<a href='http://www.baidu.com'>html内容而非文本内容</a>"
                }
            }
        })
        var events = new Vue({
            el:"#mouseevent",
            data:{
                vdata:"testVdata"
            },
            methods:{
                event:function(){
                    alert("mouseenvent???");
                },
                changeVdata:function(){
                    //可在log中打印信息
                    console.log(this.vdata);
                },
                foradd:function(){
                    //每一次点击都可以累加显示
                    this.vdata+="+累加+"
                }
            },
        })
        var count = new Vue({
            el:"#counter",
            data:{
                num:0
            },
            methods:{
                add:function(){
                    if(this.num<10){
                        this.num+=1;
                    }
                    else{
                        alert("已达到最大值")
                    }
                    console.log('add');
                },
                sub:function(){
                    if(this.num>0){
                        this.num-=1;
                    }else{
                        alert("已达到最小值")
                    }
                    console.log("sub")
                }
            }
        })
        var picture = new Vue({
            el:"#svg_picture",
            data:{
                svg_status:false,
                num:0
            },
            methods:{
                changeSVGstatus:function(){
                    this.svg_status = !this.svg_status;
                },
                addnum:function(){
                    if(this.num<3){
                        this.num++;
                    }
                    else{
                        this.num = this.num-3
                    }
                }
            },
        })
        var ele_apper = new Vue({
            el:"#ele_apper",
            data:{
                ele_status:true,
                num:5
            },
        })

        var img_bind = new Vue({
            el:"#img_bind",
            data:{
                img_src:"../material/烤鸡腿.svg",
                imgtitle:"测试v-bind",
                isactive:false
            },
            methods:{
                imgclick:function(){
                    this.isactive = !this.isactive
                }
            }
        })

        var test_changepicture = new Vue({
            el:"#test_changepicture",
            data:{
                index:0,
                imgarr:[
                    "../material/01.svg",
                    "../material/02.svg",
                    "../material/03.svg",
                    "../material/04.svg",
                    "../material/05.svg",
                ]
            },
            methods:{
                addindex:function(){
                    this.index++;
                },
                subindex:function(){
                    this.index--;
                }
            },
        })
        
        var vfor = new Vue({
            el:"#vfor",
            data:{
                arr:[2,4,6,8,10],
                objarr:[{name:"Jack"},{name:"Rose"},{date:"0611"},{weather:"sunny"}]
            },
            methods:{
                addobj:function(){
                    // push的内容可以以后根据用户的输入加入到列表中，当前是写了一个固定的;
                    //并且新添加的位置是在同名索引处，如果添加一个{addtext：“新内容”}，点击按钮就不会显示（因为在实例中没有让这个属性显示,就是说没有{{item.addtext}}）
                    this.objarr.push({name:"这里是新添加的内容"})
                },
                removeobj:function(){
                    //shift默认移除最左边的元素因此不必传参
                    this.objarr.shift()
                }
            }
        })

        var v_on_append = new Vue({
            el:"#v_on_append",
            methods:{
                doit:function(p1,p2){
                    console.log(p1),
                    console.log(p2)
                },
                sayhi:function(){
                    alert("Bingo!~")
                },
            },
        })

        var vmodel = new Vue({
            el:"#vmodel",
            data:{
                message:"学习v-model指令"
            },
            methods:{
                getmessage:function(){
                    alert(this.message)
                },
                setmessage:function(){
                    this.message="这条就是默认值"
                }
            },
        })

        var testNotepad = new Vue({
            el:"#testNotepad",
            data:{
                jobarr:["吃饭","睡觉","打豆豆"],
                jobmassage:"请输入任务"
            },
            methods:{
                addjob:function(){
                    this.jobarr.push(this.jobmassage);
                },
                removejob:function(){
                    this.jobarr.splice(this.jobmassage,1)
                },
                clearall:function(){
                    this.jobarr = []
                }
            },
        })
    </script>
</body>

</html>